<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>CodeFellowship</title>
</head>
<body>
<div class="container">
<header>
    <h1>Code Fellowship</h1>
</header>
<div th:replace="bar :: nav"></div>
<main>
    <p>Welcome one and all to Code Fellowship </p>

    <p>Code Fellowship was made to allow students have a space to express themselves</p>

    <div><a href="/signUp">Sign Up Today!</a></div>
    <!--<div><a href="/users">User Profiles</a></div>-->

</main>
<footer>

</footer>
</div>
</body>
</html>