<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CodeFellowship</title>
</head>
<body>
<div class="container">
<header>
    <h1>Sign Up</h1>
</header>
<div th:replace="bar :: nav"></div>
<main>

    <form action="/users" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName">

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName">

        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" name="dateOfBirth" id="dateOfBirth">

        <label for="bio">Bio:</label>
        <input type="text" name="bio" id="bio">

        <input type="submit">
    </form>

    <!--<a href="/"> Home </a>-->
</main>
<footer>

</footer>
</div>
</body>
</html>